body{
  /* height: 100%;  */
  overflow: hidden;
  background: url(main2.jpg);
  /* background:url(main1.jpg); */
  background-size: cover;
  /* margin: 0;
  padding: 0; */
}
.table td {  
  border: 2px solid #ddd;
  text-align: center;
  padding:8px;
  font-weight: 900;

}
.table th {  
  border: 2px solid #ddd;
  text-align: center;
  padding:8px;
}

.board td {  
  border: 3px solid #00ff00;
  text-align: center;
  padding:15px;
}
/* .board th {  
  text-align: center;
  padding:16px;
} */



h1{
    text-align:center;
    color:maroon;
    font-size:35px;
    /* margin-top:1px; */
    /* background-color:yellow; */
    margin-top:-10px;
}
#table-board{
  background-color:blue;
  font-weight: 1000;
  font-size:20px;
  text-shadow: 1px 1px White;

  /* padding:10px; */
  /* outline: red solid 8px; */
}

.table {
    /* background-color: aqua; */
    /* width:390px; */
    width:27%;
    /* margin-top:-500px; */
    /* max-height: 500px; */
    height:90%;
    /* position:absolute; */
    overflow-y: auto;
    font-weight: 1000;
    font-style: italic;
    color:Navy;
    /* bottom:50px; */
    /* top:-50px; */
    /* to make 2 div side by side */
    display:inline-block;
    /* outline: green solid 8px; */
}
#btPrint{
  align : center;
  background-color:cyan;
  color:blue; 
  height:30px;
  border-radius: 30px;
  /* margin-left:30%; */
  cursor:pointer;
  width:100%;
  /* background:linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4); */
  background:linear-gradient(90deg,cyan,pink,lime,yellow,aqua);
background-size:400%;
animation : animate 60s linear infinite;
font-weight: 600;
}
@keyframes animate
{
    0%
    {
        background-position : 0% ;
    }
    100%
    {
        background-position : 400% ;
    }
}

.table table {
  width: 55px;
  /* bottom:500px; */
}

/* th, td {
  padding: 8px;
} */

div.board{
    /* width:400px; */
    /* top: 0px; */
    /* margin-top:-40%; */
    margin-bottom:0%;
    margin-left:2%;
    /* font-weight: 9000; */
    /* color:red; */
    height:90%;
    width:42%;
    /* outline: red solid 8px; */
    /* padding:50px;
    width:20px; */
    /* margin: 50px; */
    /* background-color : red; */
    display:inline-block;
}


#stack{
  float:right;
  padding: 5px;
  color: yellow;
  font-size:30px;
  background-color:#DC143C;
  /* transform-origin: 0 0;
  transform: rotate(90deg); */
  height:86%;
  outline: red dashed 5px;
  width:60px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* max-height: 600px; */
}
#button{
  color:blue;
  text-shadow: 4px 3px aqua;
  /* height:600px; */
  margin-top:-33%;
  margin-left:75%;
  /* margin-bottom:2%; */
  /*width : 50px; */
 
  /* outline: red solid 8px; */
  display: inline-block;
  /* bottom: 0px; */
  /* position: relative; */
}
#bid{
  /* position:absolute; */
  /* outline: blue solid 10px; */
  /* padding-bottom: 25px; */

  background:linear-gradient(90deg,cyan,BlueViolet,lime,Gold,aqua);
background-size:400%;
animation : animate 20s linear infinite;
  padding:20px 25px;
  cursor: pointer;
  /* color:yellow; */
  margin-left:8%;
  font-size:15px;
  bottom: 0px;
  /* background-color:red; */
  /* margin-top:-50px; */
  border-radius: 20px;
  font-weight: 900;
  border: 2px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
}
#bid:hover{
  /* border: 2px solid #4CAF50; Green */
  font-size:16px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#demo{
  /* outline: yellow solid 10px; */
  /* height:50px;
  width:50px; */
  /* margin-top:0px; */
  margin-left:-6%;
  font-size: 250px;
  padding:20px;
}
/* div.button{
  display: inline-block;
} */